.form-label {
  @apply mb-2 block text-sm font-medium text-gray-700 select-none;
}

.form-input,
.form-textarea,
.form-select {
  @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 focus:ring-opacity-50 sm:text-sm;

  &::placeholder {
    @apply text-gray-400 opacity-100;
  }
}

.form-select {
  @apply pl-3 pr-10 py-2 text-base;
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20"%3E%3Cpath stroke="%236B7280" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m6 8 4 4 4-4"/%3E%3C/svg%3E');
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: right 0.5rem center;

  &::-ms-expand {
    @apply opacity-0;
  }
}

.form-input.error,
.form-textarea.error,
.form-select.error {
  @apply border-red-500 focus:ring focus:ring-red-200;
}

.form-error {
  @apply text-red-600 mt-2 text-sm;
}
